.elements__like {
    background-image: url(../../../images/Like.svg);
    background-color: #fff;
    margin-right: 30px;
    margin-top: 31px;
    width: 22px;
    height: 19px;
    border: none;
}

.elements__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__like:active {
    background-image: url(../../../images/Like_black.svg);
}