.elements__like {
    background-image: url(../../../images/Like.svg);
    background-color: #fff;
    margin: 30px 20px 30px 0;
    width: 22px;
    height: 19px;
    border: none;
}

.elements__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__like:active {
    background-image: url(../../../images/Like_black.svg);
}